<footer>
  <nav>
    <a
      id="validation_link_html"
      href="https://validator.w3.org/check?uri=referer"
    >
      <img
        src="images/button_validation_html5.png"
        width="88"
        height="31"
        alt="Validate webpage HTML."
        class="buttons"
      />
    </a>

    <a
      id="validation_link_css"
      href="https://jigsaw.w3.org/css-validator/check/referer"
    >
      <img
        src="images/button_validation_css.png"
        width="88"
        height="31"
        alt="Validate webpage CSS."
        class="buttons"
      />
    </a>
  </nav>
  <script>
    document
      .getElementById("validation_link_html")
      .setAttribute(
        "href",
        "https://validator.w3.org/check?uri=" + location.href
      );
    document
      .getElementById("validation_link_css")
      .setAttribute(
        "href",
        "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href
      );
  </script>
</footer>
