<header>
  <h1>CP-CO-01</h1>
  <nav>
    <ul class="nav-list">
      <li><a href="index.html">Home</a></li>
      <li class="divider">&#9930;</li>
      <li><a href="introduction.html">Introduction</a></li>
      <li class="divider">&#9930;</li>
      <li><a href="contract.html">Contract</a></li>
      <li class="divider">&#9930;</li>
      <li><a href="about_us.html">Team</a></li>
      <li class="divider">&#9930;</li>
      <li><a href="template.html">Template</a></li>
      <li class="divider">&#9930;</li>
      <li><a href="fizz-buzz.html">FizzBuzz</a></li>
      <li class="divider">&#9930;</li>
      <li><a href="business/business.html">Company Info</a></li>
    </ul>
  </nav>
</header>
