body {
  background-color: #1d3557;
  box-sizing: border-box;
  color: #1b3e77;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}
a {
  color: #a8dadc;
  font-weight: 600;
  text-decoration: none;
}

button {
  background-color: #f07167;
  border: none;
  border-radius: 5px;
  color: #f1faee;
  font-size: 1rem;
  margin: 10px 0;
  padding: 5px 20px;
}

button:hover {
  background-color: #1d3557;
}

a:hover {
  color: #457b9d;
  text-decoration: underline;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: relative;
}

footer nav {
  align-items: center;
  justify-content: center;
  display: flex;
  max-width: 1200px;
  width: 80%;
}

footer div p {
  color: #457b9d;
  margin: 0;
  text-align: center;
}

h1 {
  display: block;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  padding: 0;
  text-align: center;
}

h2 {
  font-size: 2rem;
}

h3 {
  margin: 5px;
}

header {
  align-items: center;
  color: #457b9d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
}

header nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

main {
  align-items: center;
  background-color: #f1faee;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1200px;
  min-height: 400px;
  padding: 0px 60px 30px 60px;
  text-decoration: none;
  width: 70%;
}

.first-section {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
  margin-left: 60px;
  padding-left: 60px;
  width: 40%;
  text-align: justify;
}

.first-section h3 {
  margin-top: 30px;
}

.first-section ul {
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  justify-content: flex-start;
}

.bottom-row {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 10px;
  width: 100%;
}

.bottom-row a {
  color: #457b9d;
}

.bottom-row a:hover {
  color: #a8dadc;
}

.buttons {
  height: 31px;
  margin: 0 auto;
  padding: 10px 10px;
  width: 88px;
}

.button-inverse {
  background-color: #1b3e77;
  border: none;
  border-radius: 5px;
  color: #f1faee;
  font-size: 1rem;
  margin: 10px 0;
  padding: 5px 20px;
}

.button-inverse:hover {
  background-color: #f07167;
}

.list-two {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
}

.nav-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px 0;
}

.nav-list li {
  color: #457b9d;
  margin: 0 10px;
}

.results-text {
  max-width: 60%;
  text-align: justify;
  margin-bottom: 20px;
}

.reset-button {
  background-color: #f07167;
  border: none;
  border-radius: 10px;
  color: #f1faee;
  font-size: 1.5rem;
  margin-top: 30%;
  padding: 10px 30px;
}

.reset-button:hover {
  background-color: #1b3e77;
}

.row {
  align-items: flex-start;
  display: flex;

  justify-content: space-between;
  width: 100%;
}

.second-section {
  align-items: flex-start;
  display: flex;
  height: 500px;
  justify-content: flex-start;
  width: 40%;
}

#validation_link_html,
#validation_link_css {
  text-decoration: none;
}
