/* Element Selectors*/

body {
  background-color: #1d3557;
  color: #1d3557;
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  color: #457b9d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5px;
}

header nav {
  align-items: center;
  display: flex;
  justify-content: center;
}

main {
  background-image: linear-gradient(to bottom, #1d3557, #457b9d, #1d3557);
}

section {
  align-items: center;
  background-color: #f1faee;
  display: flex;
  flex-direction: column;
  height: 100%;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 1000px;
  min-height: 400px;
  padding: 0px 60px 30px 60px;
  text-decoration: none;
  width: 70%;
}

main h2 {
  color: #1d3557;
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

h1 {
  display: block;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  padding: 0;
  text-align: center;
}

h3:nth-child(2) {
  font-size: 1.5rem;
}

article {
  background-color: #a8dadc;
  height: 200px;
  padding: 20px;
  width: 400px;
}

article img {
  border: none;
  height: auto;
  margin-bottom: 10px;
  width: 200px;
}

article p {
  color: #1d3557;
  font-size: 0.75rem;
  margin: 0;
  padding: 0;
}

article a {
  color: #1d3557;
  font-size: 0.75rem;
  font-weight: 500;
}

article p:nth-child(3) {
  padding-bottom: 30px;
}

p {
  margin: 0;
}

dt {
  font-weight: 600;
  margin-top: 10px;
}

dl {
  padding: 0 20px;
}

ol {
  padding: 0 8em;
}

a {
  color: #a8dadc;
  font-weight: 600;
  text-decoration: none;
}

a img {
  border: none;
}

a:hover {
  color: #457b9d;
  text-decoration: underline;
}

figure {
  position: relative;
}

figure .pic-text {
  color: #a8dadc;
  font-size: 2rem;
  margin: 0 auto;
  position: absolute;
  top: 4em;
}

header img {
  height: auto;
  width: 200px;
}

figcaption {
  font-style: italic;
}

strong {
  color: #f07167;
}

table {
  background-color: lightgray;
  border-collapse: collapse;
  font-family: Arial;
  padding: 20px;
  text-align: center;
  width: 33%;
}

table,
th,
tr,
td {
  border: 2px solid black;
  padding: 5px 10px;
}

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: relative;
}

footer nav {
  width: 80%;
}

footer div p {
  color: #457b9d;
  text-align: center;
}

button {
  background-color: #f07167;
  border-radius: 5px;
  color: #f1faee;
  font-size: 1rem;
  margin-bottom: 10px;
  padding: 5px 20px;
}

button:hover {
  background-color: #1d3557;
}

img {
  border: 2px solid #457b9d;
  height: auto;
  width: 100%;
}

/* Class Selectors */

.intro p {
  margin: 2px;
}

.contract-title {
  font-size: 3.5rem;
  margin: 70px 0 10px 0px;
  text-align: center;
}

.list-one {
  line-height: 1.5;
  max-width: 800px;
}

.list-one li {
  margin-bottom: 0.5rem;
}

.image-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

.nav-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0 0 20px 0;
}

.nav-list li {
  color: #457b9d;
  margin: 0 10px;
}

.home-image {
  border: 2px solid #457b9d;
  height: 300px;
  margin-top: 15px;
  width: 500px;
}

.list-two {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

.bottom-row {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 10px;
  width: 100%;
}

.bottom-row a {
  color: #457b9d;
}

.team-links {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.team-links a {
  color: #457b9d;
  line-height: 2;
}

.team-links a:hover {
  color: #f07167;
}

.bottom-row a:hover {
  color: #a8dadc;
}

.course-link {
  color: #457b9d;
}

.course-link:hover {
  color: #a8dadc;
}

.buttons {
  height: 31px;
  padding: 10px 10px;
  width: 88px;
}

.welcome-section p {
  margin-top: 30px;
  width: 200px;
}

.nav-list .divider {
  vertical-align: bottom;
}

.results {
  color: #1d3557;
  font-size: 1rem;
  font-weight: 700;
}

.brownie-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  width: 113%;
}

.brownie-header a {
  color: #457b9d;
  text-decoration: none;
}

.brownie-header a:hover {
  color: #1d3557;
  text-decoration: underline;
}

.split-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  width: 80%;
}

.lg-h3 {
  font-size: 60px;
  margin: 10px 0;
}

.brownie-photo {
  height: auto;
  margin-bottom: 20px;
  max-width: 600px;
  width: 60%;
}

.brownie-sections {
  background-color: #cbe3e8;
}

.brownie-nav-list {
  align-items: center;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 3px 30px 0 20px;
  width: 30%;
}

/* ID Selectors */

#catalyte-logo {
  height: auto;
  padding: 10px 0 0 10px;
  width: 125px;
}

#catalyte-logo:hover {
  transform: scale(1.05);
}

#validation_link_html,
#validation_link_css {
  text-decoration: none;
}
