body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
}

header {
  background-color: #1d3557;
  color: #457b9d;
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background-image: linear-gradient(to bottom, #1d3557, #457b9d, #1d3557);
}

section {
  display: flex;
  text-decoration: none;
  line-height: 1.5;
  width: 70%;
  height: 100%;
  min-height: 400px;
  max-width: 1000px;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 0px 60px 30px 60px;
  background-color: #f1faee;
}

main h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  display: block;
  font-family: "Tahoma";
  text-align: center;
  color: #1d3557;
  font-size: 3rem;
}

article {
  width: 400px;
  height: 200px;
  background-color: #a8dadc;
  padding: 20px;
}

article img {
  width: 200px;
  height: auto;
  border: none;
  margin-bottom: 10px;
}

article p {
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
  color: #1d3557;
}

article a {
  color: #1d3557;
  font-weight: 500;
  font-size: 0.75rem;
}

article p:nth-child(3) {
  padding-bottom: 30px;
}

h1 {
  display: block;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  font-size: 2rem;
}

h3:nth-child(2) {
  font-size: 1.5rem;
}

p {
  color: #1d3557;
  margin: 0;
  font-style: italic;
}

dt {
  margin-top: 10px;
  font-weight: 600;
}

dl {
  padding: 0 20px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0 20px 0;
  margin: 0;
}

.nav-list li {
  color: #457b9d;
  margin: 0 10px;
}

a {
  text-decoration: none;
  color: #a8dadc;
  font-weight: 600;
}

a img {
  border: none;
}

a:hover {
  text-decoration: underline;
  color: #457b9d;
}

figure {
  position: relative;
}

figure .pic-text {
  position: absolute;
  top: 4em;
  margin: 0 auto;
  font-size: 2rem;
  color: #a8dadc;
}

.intro p {
  margin: 2px;
}

.contract-title {
  text-align: center;
  font-size: 3.5rem;
  margin: 70px 0 10px 0px;
}

figcaption {
  font-style: italic;
}

strong {
  color: #f07167;
}

.list-one {
  max-width: 800px;
  line-height: 1.5;
}

.list-one li {
  margin-bottom: 0.5rem;
}

.image-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

img {
  height: auto;
  width: 100%;
  border: 2px solid #457b9d;
}

.home-image {
  margin-top: 15px;
  width: 500px;
  height: 300px;
  border: 2px solid #457b9d;
}

footer {
  position: relative;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1d3557;
}

footer nav {
  width: 60%;
}

footer div p {
  color: #457b9d;
  text-align: center;
}

button {
  background-color: #f07167;
  border-radius: 5px;
  color: #f1faee;
  padding: 5px 20px;
  font-size: 1rem;
}

button:hover {
  background-color: #1d3557;
}

.list-two {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin-bottom: 0;
  padding: 0;
}

.bottom-row {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
}

.bottom-row a {
  color: #457b9d;
}

.team-links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

.team-links a {
  color: #457b9d;
  line-height: 2;
}

.team-links a:hover {
  color: #f07167;
}

.bottom-row a:hover {
  color: #a8dadc;
}

.course-link {
  color: #457b9d;
}

.course-link:hover {
  color: #a8dadc;
}

.buttons {
  width: 88px;
  height: 31px;
}

.welcome-section p {
  width: 200px;
  margin-top: 30px;
}

.nav-list .divider {
  vertical-align: bottom;
}

.results {
  font-size: 1rem;
  color: #1d3557;
  font-weight: 700;
}
